* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.container {
    position: relative;
    max-width: 960px;
    height: 50vh;
    margin: 0 auto;
    margin-top: 250px;
    background-color: gray;
}


.container:hover {
    transform: scaleX(1);
}

.content:after {
    content: " ";
    display: block;
    width: 100%;
    height: 0;
    border: 25px solid transparent;
    border-right-color: red;
    position: absolute;

}
